.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.index-img{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
a{
    text-decoration: none;
}
.index-h1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    border-radius: 20px;
}
body{
    background-color: rgb(0, 191, 255);
}
.index-logo{
    text-decoration: none;
    font-size: 50px;
    display: flex;
    justify-content: center;
    background-color: rgb(179, 135, 250);
    width: 280px;
    border-radius: 10px;
}
.index-logo2{
    text-decoration: none;
    font-size: 50px;
    display: flex;
    justify-content: center;
    background-color: rgb(11, 202, 148);
    width: 280px;
    border-radius: 10px;
}
.ul-nav2{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: blueviolet;
    border-radius: 20px;
    color: blue;
}
.ul-nav{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}
.index-logo:hover{
    background-color: darkturquoise;
}
.index-logo2:hover{
    background-color: rgb(0, 93, 241);
}
.index-info{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: blueviolet;
    border-radius: 20px;
}
.index-hello{
    background-color: aquamarine;
    border-radius: 10px;
    width: 280px;
    font-size: 17px;
}
    



    


